body {
    padding: 0 1em;
}

header {
    background-color: #046DD5;
}

header a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat";
}

#signup a {
    display: inline-block;
}

#menu ul {
    list-style-type: none;
    padding-inline-start: 0;
    width: 100%;
    margin: 0;
}

#menu li {
    text-align: center;
    border-top: #F4655F solid 5px;
    padding: 1em;
}

#menu li a {
    text-decoration: none;
    color: #2A2F33;
    font-weight: bold;
}

.hamburger, #hamburger {
    display: none;
}

#related {
    background-color: #2A2F33;
    padding: 1em;
}

#related article {
    color: white;
}

#related article a {
    text-decoration: none;
    color: white;
}

#news article{
    margin: 1em 0;
    position: relative;
}

#news article header {
    width: 25%;
    background-color: transparent;
    position: absolute;
    top: 1em;
    left: 1em;
}

#news article header h1 {
    text-shadow: 5px 5px 7px #2A2F33;
}

#news article img {
    width: 100%;
}

#news article footer {
    background-color: #F4655F;
    padding: 1em;
}

#news article footer {
    color: white;
}

#news article footer a {
    text-decoration: underline;
    color: white;
}

.tags {
    margin-right: 1em;
}

.comments {
    margin-left: 1em;
}

.comments:after {
    content: " comments"
}